# Concat and Join

In [2]:
import numpy as np
import pandas as pd

## Concat

In [12]:
df = pd.DataFrame(np.arange(24).reshape(8, 3), 
                  index=list("abcdefgh"),
                  columns=[f"col{i}" for i in range(1, 4)])
df

   col1  col2  col3
a     0     1     2
b     3     4     5
c     6     7     8
d     9    10    11
e    12    13    14
f    15    16    17
g    18    19    20
h    21    22    23

In [21]:
a = df[:3]
a

   col1  col2  col3
a     0     1     2
b     3     4     5
c     6     7     8

In [22]:
b = df.loc["g":, :"col2"]
b

   col1  col2
g    18    19
h    21    22

In [24]:
pd.concat([a, b])

   col1  col2  col3
a     0     1   2.0
b     3     4   5.0
c     6     7   8.0
g    18    19   NaN
h    21    22   NaN

## Merge

In [16]:
df = pd.DataFrame(
    [
        ["Jake", 165],
        ["Kyle", 155],
    ],
    columns=["name", "height"],
)
df

   name  height
0  Jake     165
1  Kyle     155

In [17]:
df2 = pd.DataFrame(
    [
        ["Jake", 60],
        ["Kyle", 50],
        ["Annie", 45],
    ],
    columns=["name", "weight"],
)
df2

    name  weight
0   Jake      60
1   Kyle      50
2  Annie      45

In [24]:
pd.merge(df, df2, on="name", how="right")

    name  height  weight
0   Jake   165.0      60
1   Kyle   155.0      50
2  Annie     NaN      45

# Reference

- https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html#merge
- https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html#concatenating-objects