# Other Pandas Tricks

In [1]:
import numpy as np
import pandas as pd

## Rename Columns

In [2]:
df = pd.DataFrame(np.random.randn(2, 2), columns=["col1", "col2"])
df

       col1      col2
0 -1.652402 -0.518362
1  1.741928  0.828322

In [11]:
df.columns = ["col_one", "col_two"]
df = df.add_prefix("Xx_")
df = df.add_suffix("_xX")
df

   Xx_col_one_xX  Xx_col_two_xX
0      -1.652402      -0.518362
1       1.741928       0.828322

In [13]:
df.columns = df.columns.str.replace("Xx", "Oo")
df.columns = df.columns.str.replace("xX", "oO")
df

   Oo_col_one_oO  Oo_col_two_oO
0      -1.652402      -0.518362
1       1.741928       0.828322

## Reverse Row Order

In [17]:
df.loc[::-1].reset_index(drop=True)

   Oo_col_one_oO  Oo_col_two_oO
0       1.741928       0.828322
1      -1.652402      -0.518362

## Reverse Column Order

In [18]:
df.loc[:, ::-1]

   Oo_col_two_oO  Oo_col_one_oO
0      -0.518362      -1.652402
1       0.828322       1.741928

## Split DataFrame into 2 random subsets

In [42]:
df = pd.DataFrame(np.random.rand(100, 100))
df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.159411,0.298931,0.842885,0.882282,0.881512,0.902333,0.979368,0.003560,0.563997,0.390954,...,0.380727,0.972988,0.958083,0.113189,0.695969,0.646054,0.028110,0.169317,0.890330,0.962519
1,0.393255,0.421920,0.642067,0.064417,0.758727,0.335141,0.522443,0.331110,0.495107,0.836426,...,0.457558,0.920217,0.754471,0.281582,0.455700,0.025525,0.382019,0.308363,0.822332,0.212461
2,0.155955,0.209897,0.344073,0.640547,0.408756,0.235934,0.048135,0.801886,0.394365,0.965966,...,0.800885,0.927270,0.936714,0.800308,0.772605,0.704907,0.767352,0.606509,0.568043,0.814453
3,0.019811,0.974393,0.921865,0.210018,0.392417,0.615220,0.287024,0.629036,0.434599,0.728465,...,0.899700,0.474804,0.080196,0.516865,0.170486,0.491800,0.566113,0.974429,0.399281,0.459004
4,0.293510,0.451253,0.794543,0.511961,0.368725,0.259943,0.579481,0.194551,0.691840,0.645353,...,0.542146,0.776222,0.901626,0.660428,0.018844,0.637194,0.977991,0.774888,0.927635,0.600319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.562122,0.561479,0.108909,0.369141,0.321777,0.160426,0.911588,0.022228,0.495223,0.631357,...,0.420168,0.039151,0.393205,0.118683,0.425020,0.481761,0.214534,0.155467,0.111886,0.853167
96,0.450489,0.442581,0.288239,0.268745,0.394767,0.853165,0.410748,0.356737,0.293161,0.068706,...,0.364529,0.043533,0.560691,0.069211,0.396806,0.977845,0.084596,0.589990,0.722783,0.597236
97,0.072112,0.296271,0.508248,0.711067,0.914530,0.726148,0.839442,0.343697,0.665331,0.563753,...,0.722385,0.516185,0.455587,0.348619,0.415738,0.750325,0.260441,0.168143,0.632317,0.340607
98,0.348051,0.067803,0.395873,0.005243,0.300734,0.596864,0.007373,0.778917,0.109089,0.483432,...,0.620939,0.503375,0.136177,0.519082,0.341211,0.435600,0.673602,0.053523,0.412344,0.954009
99,0.413618,0.767975,0.558369,0.529468,0.804593,0.052119,0.878963,0.579539,0.539224,0.320288,...,0.120438,0.660588,0.692011,0.556928,0.413372,0.001472,0.383862,0.036352,0.588260,0.393609

In [44]:
sub1 = df.sample(frac=0.75, random_state=42)
sub2 = df.drop(sub1.index)

In [54]:
sub1.index = sub1.index.sort_values()
sub2.index = sub2.index.sort_values()
sub1

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.276251,0.723083,0.082979,0.846063,0.014875,0.210630,0.196337,0.559769,0.219848,0.148299,...,0.232475,0.316412,0.340331,0.370059,0.664205,0.244533,0.021829,0.279612,0.521344,0.848524
3,0.763708,0.161123,0.857895,0.713798,0.338255,0.904108,0.327826,0.323136,0.858562,0.136595,...,0.727880,0.674210,0.082990,0.716252,0.311203,0.987096,0.329751,0.038746,0.826491,0.982170
4,0.585260,0.668893,0.266209,0.465460,0.284862,0.749908,0.980283,0.158074,0.871361,0.286298,...,0.309447,0.750684,0.987382,0.396398,0.491289,0.741207,0.359124,0.608923,0.681433,0.902490
5,0.596687,0.351625,0.287867,0.393596,0.792622,0.849491,0.347891,0.152247,0.939495,0.649926,...,0.834911,0.129675,0.431421,0.158797,0.634515,0.784749,0.476667,0.768063,0.739287,0.000095
6,0.986267,0.521338,0.841707,0.763193,0.982998,0.254452,0.697074,0.394279,0.322229,0.985216,...,0.534792,0.500795,0.930813,0.210237,0.704687,0.446557,0.428243,0.102073,0.622799,0.150419
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.722467,0.122681,0.435873,0.303812,0.658859,0.588442,0.389948,0.654091,0.654225,0.325699,...,0.356526,0.676978,0.983259,0.772427,0.147841,0.119114,0.702111,0.994781,0.347267,0.138974
96,0.056616,0.134457,0.816315,0.351577,0.653260,0.306659,0.082838,0.671839,0.110417,0.386508,...,0.962453,0.715970,0.820986,0.335437,0.634789,0.489468,0.169929,0.620325,0.678124,0.037664
97,0.218357,0.362536,0.784173,0.953841,0.619449,0.820282,0.877191,0.901184,0.412259,0.882334,...,0.789730,0.557504,0.106313,0.830663,0.137756,0.187265,0.827545,0.942015,0.972236,0.277819
98,0.621315,0.790725,0.725883,0.011554,0.372013,0.994310,0.380399,0.562334,0.489863,0.178500,...,0.480560,0.958206,0.417557,0.865288,0.317969,0.900408,0.276662,0.819103,0.169706,0.261084
99,0.348051,0.067803,0.395873,0.005243,0.300734,0.596864,0.007373,0.778917,0.109089,0.483432,...,0.620939,0.503375,0.136177,0.519082,0.341211,0.435600,0.673602,0.053523,0.412344,0.954009

## Filter by Category

In [62]:
df = pd.DataFrame(np.random.rand(6, 2))
df["genre"] = pd.Series(["A", "A", "B", "C", "D", "A"], dtype="category")
df

          0         1 genre
0  0.474158  0.513960     A
1  0.151835  0.390610     A
2  0.253245  0.683660     B
3  0.411327  0.592954     C
4  0.061623  0.979052     D
5  0.383860  0.771639     A

In [64]:
df[df.genre.isin(["A", "D"])]

          0         1 genre
0  0.474158  0.513960     A
1  0.151835  0.390610     A
4  0.061623  0.979052     D
5  0.383860  0.771639     A

In [65]:
df[~df.genre.isin(["A", "D"])]

          0         1 genre
2  0.253245  0.683660     B
3  0.411327  0.592954     C

### Filter by Largest Category

In [74]:
print(df.genre.value_counts().nlargest(1))
print(df.genre.value_counts().nlargest(1).index)

df[df.genre.isin(df.genre.value_counts().nlargest(1).index)]

A    3
Name: genre, dtype: int64
CategoricalIndex(['A'], categories=['A', 'B', 'C', 'D'], ordered=False, dtype='category')

          0         1 genre
0  0.474158  0.513960     A
1  0.151835  0.390610     A
5  0.383860  0.771639     A

## Split String into Multiple Columns

In [77]:
df = pd.DataFrame({
    "name": ["Penny Giles" ,"Reiss Hoover"],
    "location": ["Los Angeles, CA", "Washington, DC"]
})
df

           name         location
0   Penny Giles  Los Angeles, CA
1  Reiss Hoover   Washington, DC

In [94]:
df[["first", "last"]] = df["name"].str.split(' ', expand=True)
df

           name         location  first    last         city
0   Penny Giles  Los Angeles, CA  Penny   Giles  Los Angeles
1  Reiss Hoover   Washington, DC  Reiss  Hoover   Washington

In [95]:
df["city"] = df["location"].str.split(", ", expand=True)[0]
df

           name         location  first    last         city
0   Penny Giles  Los Angeles, CA  Penny   Giles  Los Angeles
1  Reiss Hoover   Washington, DC  Reiss  Hoover   Washington

## Change Display Options (Not Change Data)

- Visit [Pandas Documentation - Options and settings](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html) for more options

In [114]:
df = pd.DataFrame(np.random.rand(6, 5))
df

          0         1         2         3         4
0  0.628433  0.776613  0.764794  0.198196  0.127071
1  0.465261  0.750787  0.764584  0.897555  0.614329
2  0.283257  0.151233  0.238085  0.266953  0.718190
3  0.767138  0.506526  0.506775  0.910796  0.122767
4  0.462400  0.889255  0.686951  0.506312  0.575809
5  0.884670  0.554091  0.597391  0.913574  0.214452

In [115]:
pd.set_option("display.float_format", "${:.2f}".format)
df

      0     1     2     3     4
0 $0.63 $0.78 $0.76 $0.20 $0.13
1 $0.47 $0.75 $0.76 $0.90 $0.61
2 $0.28 $0.15 $0.24 $0.27 $0.72
3 $0.77 $0.51 $0.51 $0.91 $0.12
4 $0.46 $0.89 $0.69 $0.51 $0.58
5 $0.88 $0.55 $0.60 $0.91 $0.21

In [116]:
pd.reset_option("display.float_format")

## Style a DataFrame

In [177]:
df = pd.DataFrame(
    {
        "Date": pd.date_range("20210101", periods=10),
        "Value": np.random.default_rng(42).integers(low=20, high=100, size=10),
        "Area": np.random.default_rng(42).integers(low=0, high=100, size=10),
        "Volume": np.random.default_rng(42).integers(low=1000000, high=10000000, size=10),
    }
)
df

        Date  Value  Area   Volume
0 2021-01-01     27     8  1803258
1 2021-01-02     81    77  7965604
2 2021-01-03     72    65  6891143
3 2021-01-04     55    43  4949905
4 2021-01-05     54    43  4897137
5 2021-01-06     88    85  8727381
6 2021-01-07     26     8  1773510
7 2021-01-08     75    69  7276312
8 2021-01-09     36    20  2813225
9 2021-01-10     27     9  1847596

In [175]:
style = {"Date": "{:%Y/%m/%d}", "Value": "${:d}", "Volume": "{:,}"}
df.style.format(style)

In [191]:
df.style.format(style) \
    .hide_index() \
    .highlight_max("Value", color="red") \
    .highlight_min("Value", color="green") \
    .bar("Area", color="orange", align="zero") \
    .background_gradient(subset="Volume", cmap="Greens") \
    .set_caption("Random Chart")

# Reference

- https://www.youtube.com/watch?v=RlIiVeig3hc